EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_API_KEY=
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_ENABLE_PLACE_REMINDERS=true
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=goog_mock_replace_me
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_mock_replace_me
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=noto_pro
EXPO_PUBLIC_REVENUECAT_OFFERING_ID=default
EXPO_PUBLIC_PRIVACY_POLICY_URL=
EXPO_PUBLIC_SUPPORT_URL=
EXPO_PUBLIC_ACCOUNT_DELETION_URL=
EXPO_PUBLIC_SUPPORT_EMAIL=
ACTE_UPLOAD_STORE_FILE=
ACTE_UPLOAD_STORE_PASSWORD=
ACTE_UPLOAD_KEY_ALIAS=
ACTE_UPLOAD_KEY_PASSWORD=
